<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cum.mapper.SQLMapper">
        <select id="allEmpByTable" resultType="employee">
            select * from ${TableName}
        </select>
        <!--重点！！常用！！-->
        <!--当java属性和sql字段不同时,通过resultMa来设置自定义映射-->
        <resultMap id="for_allEmp" type="employee">
            <id property="id" column="e_id"/>
            <result property="name" column="e_name"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
            <result property="mail" column="e_mail"/>
        </resultMap>
        <select id="allEmp" resultMap="for_allEmp">
            select * from mybatisframe.employee;
        </select>
</mapper>   
    